@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
}


:root {
    --fundo: #F5F5FF;
    --cor01: #4682B4;
    --cor02: #00008B;
}
 


body {
    font-family: "Nunito Sans";
    background-color: var(--fundo);
}


header {
    background-color: var(--cor01);
    padding: 15px;
}


nav a {
    font-family: "Nunito Sans";
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    padding: 10px;
}


nav a:hover {
    color: #FFFFFF;
    font-weight: bold;
    background-color: var(--cor02);
    border-radius: 5px;
}


main  {
    margin: 50px;
}


main h1 {
    font-size: 80px;
    font-family: "Nunito Sans";
    font-weight: lighter;
    padding: 80px;

}



.direito {
    display: flex;
    justify-content: center;
    align-items: flex-start;  
}


 #img {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
    overflow-y: scroll;
    
}

#img img {
    width: 300px;
    height: auto;
}



.destinations h3 {
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.destinations h4 {
    font-family: "Nunito Sans";
    font-weight: lighter;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.destination {
    margin-bottom: 40px;
}


.destination img {
    width: 400px;
    height: auto;
    margin-bottom: 10px;
}


.destination a {
    display: block;
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--cor01);
    color: #FFFFFF;
    text-decoration: none;
    width: 40px;
    border: none;
   
}


.destinations a:hover {
    background-color: var(--cor02);
}


article#contact {
    display: flex;
}

#contact h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#contact img {
    margin-left: 180px;
    margin-bottom: 60px;
}

#contact p {
    padding-bottom: 10px;
}

#p {
    padding-left: 20px;
    padding-bottom: 50px;
}

footer {
    background-color: var(--cor01);
    padding: 20px;
    margin-left: 50px;
    margin-bottom: 30px;
}
